@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  }
  body {
    color: #100f0f;
    margin: 0;
    background-color: #f8f7f3;
  }
}
